{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main>
        <div class="categories-list">
            <h1>My Puppy Tracker</h1>
            <p>
                <a href="{% url 'log_blank_event' %}">Log a new event</a>
            </p>
        </div>
        <div>
            {% for category in categories %}

            <p>
                <a href="{% url 'category_details' category.name %}">{{ category.name }}</a>
            </p>

            {% endfor %}
        </div>
    </main>
{% endblock content %}
